// Write your overrides
.desc {
  h1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.5rem; /* 36px */
    white-space: pre-line;
  }

  h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2.25rem; /* 32px */
    white-space: pre-line;
  }

  p {
    margin-block-end: 8px;
    white-space: pre-wrap;
  }

  a {
    color: #e0b416;
  }

  .ql-align-right {
    text-align: end;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-size-huge {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }

  .ql-size-large {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  .ql-size-small {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }

  ol {
    list-style: decimal;
    margin-inline-start: 16px;
  }

  ul {
    list-style: disc;
    margin-inline-start: 16px;
  }

  li {
    margin-block-end: 8px;
  }
}

.offer-tag::after {
  position: absolute;
  border: solid transparent;
  border-width: 20px;
  block-size: 0;
  border-inline-start-color: #ff4c51;
  content: '';
  inline-size: 0;
  inset-block-start: 0%;
  inset-inline-start: 100%;
}

.dot {
  position: absolute;
  z-index: 100;
  border-radius: 100%;
  background-color: #fff;
  block-size: 5px;
  inline-size: 5px;
  inset-block-start: 40%;
  inset-inline-start: 100%;
}
